.Rproj.user
.Rhistory
.RData
.Ruserdata

Rendering_Script.R

academic/gwas_tutorial/myG_hmp.csv
academic/gwas_tutorial/GWAS_Results/
academic/gwas_tutorial/GWAS_Results_CV_b/

academic/qtl_tutorial/rawdata/