.Rproj.user
.Rhistory
.RData
.Ruserdata

extra.Rmd
Rendering_Script.R
blank_index.Rmd

academic/gwas_tutorial/Data/myG_hmp.csv
academic/gwas_tutorial/GWAS_Results/

academic/qtl_tutorial/rawdata/

academic/envdata/extra

agdata/fertilizers/extra/

cv/jobs/

blog_new/